@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('ProximaNovaA-Light.woff2') format('woff2'),
        url('ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nyala';
    src: url('../font/Nyala-Regular.woff2') format('woff2'),
        url('../font/Nyala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../font/ProximaNova-Black.woff2') format('woff2'),
        url('../font/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('../font/ProximaNovaA-Thin.woff2') format('woff2'),
        url('../font/ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../font/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../font/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('../font/ProximaNovaA-Bold.woff2') format('woff2'),
        url('../font/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../font/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../font/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../font/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  font-family: "Proxima Nova Rg", sans-serif;
  color: #444444;
  font-size:18px;
}
p{
	font-size:18px;
}
a {
  color: #242462;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}
h1{
	font-size:3rem;
}
.h5, h5 {
    font-size: 22px;
}
.h6, h6 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nyala', sans-serif;
}
.text-primary{
	color:#242462 !important;
}
.text-secondary{
	color:#EDA66B !important;
}
.btn-primary{
	background-color:#242462 !important;
}

.btn-primary{
	background-color:#242462 !important;
}

.btn-secondary{
	background-color:#EDA66B !important;
}
.border-5 {
    border-width: 5px !important;
}
.border-primary{
	border-color: #242462 !important;
}
.border-secondary{
	border-color: #f9a15f !important;
}
.bg-light-2{
	/* background-color:#f0f9fd; */
	background-color:rgba(41, 41, 91, 0.1);
}
.bg-primary{
	background-color:#242462 !important;
}

.bg-secondary {
    background-color: #f9a15f!important;
}
.list-box-shadow{
    box-shadow: 0px 3px 10px rgb(165 206 224 / 57%);
}
.object-fit-cover{
    height: 100%;
    object-fit: cover;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #242462;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #1da2e0;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 9999;
  padding: 10px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Proxima Nova Rg", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  /*padding: 10px 0 10px 15px;*/
  padding: 10px 27px 10px 15px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0f394c;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Proxima Nova Rg", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.nav-menu a:hover{
	color:#f9a15f
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #84c14b;
  
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  color: #0f394c;
  text-transform: uppercase;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #242462;
}
.nav-menu .btn-outline-primary:hover {
    color: #f9a15f !important;
    border-color: #f9a15f !important;                  
    background: #fff;
}
.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  header .container-fluid.d-flex{
    justify-content: space-between;
  }
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 23px;
  right: 15px;
  z-index: 99991;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; 
}

.mobile-nav-toggle i {
  color: #242462;
}

.mobile-nav {
  position: fixed; 
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  width:100%;
  height:100%;
  left:0;
  top: 70px;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0f394c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #242462;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(7, 25, 33, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #000;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #f9f9f9;
}

#hero .container {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}

#hero h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: #242462;
  text-transform: uppercase;
}

#hero .btn-get-started:hover {
  background: #76c7ed;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  /*padding: 55px 0;*/
}

.section-bg {
  background-color: rgba(41, 41, 91, 0.1);
}
 
.section-bg-3 { 
  background:#f8a05f url("../parallax/train.jpg") no-repeat !important; 
  background-size: cover !important;
  background-position: bottom; 
  position:relative;
    background-attachment: fixed !important;
} 
.section-bg-3:after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #000000a6;
    left: 0;
    top: 0;
    position: absolute;
}
 .z-index-99{
	 z-index:99;
 }
.section-title {
  text-align: center;
  /*padding-bottom: 30px;*/
}

.section-title h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
  letter-spacing: 2px;
}
@media all and (max-width:767px){
	.section-title h2 {
		 font-size: 30px;
	}
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .icon-boxes h3 {
  font-size: 35px;
  font-weight: 700;
  color: #0f394c;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #242462;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #242462;
  border-color: #242462;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #242462;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 16px;
}

.about .video-box {
  background: url("../parallax/train.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.about{
	position:relative;
	padding-top:40px!important;
	padding-bottom:50px!important;
}
.about:after  {
content: "";
    position: absolute;
    width: 300px;
    height: 460px;
    background-size: contain;
    top: 50%;
    left: 0px;
    background-position: top left;
    z-index: -1;
    opacity: 0.4;
    max-width: 100%;
    max-height: 100%;
    transform: translate(0,-50%);
	position:fixed;
}

@media (max-width: 767px) {
	.about:after {
		content: ""; 
		width: 275px;
		height: 400px; 
		top: auto;
		bottom: 0;
		right: 0;
		background-position: top right;
		z-index: -1;
		opacity: 0.4;
		max-width: 100%;
		max-height: 100%;
		transform: translate(0,0%);
	}
}

@media (min-width: 1200px) {
  .about .video-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.home-video {border-radius:10px}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#242462 50%, rgba(73, 181, 231, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(73, 181, 231, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #242462;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
} 

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  /*background: url("../img/counts-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;*/
  position: relative;
	border-top: 1px solid #ccc!important;
	border-bottom: 1px solid #ccc!important;
	padding:0px 0;
	background: #FFF;
}

.counts-2::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts-2 .counters span {
    color: #242462!important;
}

.counts .title {
  position: relative;
  color: #0f394c;
  margin-bottom: 35px;
}

.counts .title h3 {
  font-size: 35px;
  font-weight: 700;
}

.counts .counters span {
  font-size: 44px;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #ffffff;
}

.counts .margin0 {margin:0!important}

.counts .background-blue {margin:5px; border-radius:6px; padding:5px}
.counts .background-yellow {}

.background-blue{background: #242462;}
.background-yellow{background: #F9A15F;}

.background-blue:hover{background: #F9A15F;}
.background-yellow:hover{background: #242462;}

.counts .btn{margin-top:30px}

@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
/* .clients .clients-wrap {
 border-top: 1px solid #eee;
  border-left: 1px solid #eee;
} */
/* 
.clients .client-logo { 
   
} */

.clients {
	background:#ffffff;
	border:0!important;
	padding:50px 10px;
}

#partners2{width:100%}
#partners2 h2{text-align: center;font-size:45px}
#partners2 h3{text-align: center;font-weight:bold;font-size:20px}

.clients .owl-item{
	width:200px!important;
	margin:0 15px!important;
}

.clients .client-logo {
	text-align: center;
	margin:0 auto;border:1px solid #000;
}

.clients .client-logo img {  
  transition: 0.3s;
  max-width:100%;
	border-radius:6px;
	padding:10px;
	margin:10px; 
}

.clients .client-logo:hover img {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.05);
}

.clients img {
  transition: all 0.4s ease-in-out;
}
.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.clients .owl-nav, .clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    background-repeat: repeat-x;
    background-size: 100px;
    background-position: bottom;
	background-position: 0 92%;
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* margin: 0 10px 40px 10px; */
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  /* border-left: 5px solid; */
}
.services .icon-box:hover {
    transform: translateY(-5px);
    background: #262663;
    color: #fff;
} 

#axis.services .icon-box {height:350px!important}
#services-2.services .icon-box {height:250px!important}

/* .services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}
 */
 .services .icon {
    position: absolute;
    right: 20px;
    bottom: 30px;
    opacity: 0.3;
    color: #f9a15f; 
}
.services .icon i {
  font-size: 100px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  /*margin-left: 40px;*/
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 35px;
  color: #f9a15f;
  text-align: center;
}

.services .title a {
  color: #111;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .text-muted  {
  color: #ffffff !important;
}

.services .description {
  font-size: 16px;
  /* margin-left: 40px; */
  line-height: 24px;
  margin-bottom: 0;
}

.services .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.services .owl-nav, .services .owl-dots {
    margin-top: 5px;
    text-align: center;
}
.services-carousel .owl-stage {
    display: flex;
}

.services-carousel .owl-stage .services-block {
    height: 100%;
}

.services-carousel .owl-stage .services-block .icon-box {
    height: 100%;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 10px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #242462;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #bdc6ca;
  border-left: 3px solid #bdc6ca;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #bdc6ca;
  border-right: 3px solid #bdc6ca;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #0f394c;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #0f394c;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #242462;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #8dd0f0;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../img/cta-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:rgba(36, 36, 98, 0.8);
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 16px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.testimonials .owl-dot.active {
  background-color: #242462 !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: relative;
  left: 0;
  bottom: 0px;
  right: 0;
  opacity: 1;
  transition: ease-in-out 0.3s;
  text-align: left;
  display: none;
}

.team .member .social a {
  transition: color 0.3s;
  color: #0f394c;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #242462 !important;
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
  text-align: center;
}

.team .member .social a:hover {
  background: #76c7ed;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #0f394c;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 0px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #242462;
  float: left;
  width: 44px;
  height: 44px;
  background: #ebf7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0f394c;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2079a1;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #242462;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  border-radius: 4px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #242462;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #1da2e0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.philosophy-top-section  {
  padding: 15px 0;
  margin-top: 100px;
}
@media (max-width: 992px) {
  .inner-page .philosophy-top-section {
    margin-top: 74px !important;
  }
  
}
@media (max-width: 767px) {
 .inner-page .philosophy-top-section {
    margin-top: 0px !important;
  }
}
.breadcrumbs {
  padding: 15px 0;
  background: #242462;
  margin-top: 80px;
}
.inner-page .breadcrumbs{
	margin-top: 100px;
	color:#fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 74px;
  }
  .inner-page .breadcrumbs {
    margin-top: 74px !important;
  }
  
}
@media (max-width: 767px) {
 .inner-page .breadcrumbs {
    margin-top: 0px !important;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #175977;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #242462 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  color: #0f394c;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 16px;
  background: #ebf7fc;
  border-bottom: 5px solid #f9a15f;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: rgba(41, 41, 91, 0.1);
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 32px;
  margin: 0 0 15px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #242462;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #1da2e0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 22px;
  font-weight: bold;
  color: #0f394c;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #242462;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #242462;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #242462;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f9a15f;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  float: left;
  color: #0f394c;
}

#footer .credits {
  float: right;
  font-size: 13px;
  color: #0f394c;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
  }
}


/*Selection Procedure*/
.counts-2 {
  background: url("../img/impact.jpg") center center no-repeat;
  background-size: cover;
 /* padding: 100px 0 ;*/
  position: relative;
  background-attachment: fixed;
}
.counts-2:before{
  background: rgba(255,255,255,0.7);
}
/*Selection Procedure*/
.nav-menu > ul > li { 
    display: flex;
    align-items: center;
}

.theme-carousel-caption {
    position: absolute;
    bottom: 30%;
    z-index: 9;
    width: 40%;
    color: #fff;
    left: 13%;
}
@media all and (max-width:991px){
	#header{
		padding: 10px 0;
	}
	#header .logo img {
		max-height: 55px;
	}
	.theme-carousel-caption {
		bottom: 20px;  
	}
}
@media all and (max-width:767px){ 
	.theme-carousel-caption {	
		position: relative;
		bottom: 0; 
		width: 100%;
		color: #fff;
		left: 0;
		text-align: center;
		background: #262561;
		padding: 20px;
	}
}


.benefits .benefits-card {
	position:relative;
	height:100%;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1); 
    border-radius: 10px;
	border:0;
    border-bottom: 2px solid #f9a15f;
	transform: translateY(0px);
	transition: all 0.5s ease-in-out;
}
/* .benefits .benefits-card :hover {
   
} */
.benefits .title {
    position: relative;
    padding-bottom: 10px;
	color: #f9a15f;
}
.benefits .title:after {content: "";position: absolute;width: 50px;/* max-width: 40%; */height: 2px;background: #262561;bottom: 0;left: 50%;margin-left: -25px;}


.theme-tab .nav-item.show .nav-link, 
.theme-tab .nav-link.active {
        color: #f9a15f;
    background-color: #fff;
    border-color: #f9a15f;
    border-width: 0 0 2px 0;
    font-weight: bold;
    letter-spacing: 2px;
}


 /******************* Timeline Demo - 4 *****************/

.main-timeline4 {
	overflow: hidden;
	position: relative;
	margin-top:-20px;
}

.main-timeline4:before {
	content: "";
	width: 5px;
	height: 100%;
	background: #333;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%)
}

.main-timeline4 .timeline-content:before,
.main-timeline4 .timeline:before {
	top: 50%;
	transform: translateY(-50%);
	content: ""
}

.main-timeline4 .timeline {
	width: 50%;
	padding-left: 100px;
	float: left;
	position: relative
}

.main-timeline4 .timeline:before {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	border: 5px solid #333;
	position: absolute;
	left: -10px
}

.main-timeline4 .timeline-content {
	display: block;
	padding-left: 150px;
	position: relative
}

.main-timeline4 .timeline-content:before {
	width: 90px;
	height: 10px;
	border-top: 7px dotted #333;
	position: absolute;
	left: -92px
}

.main-timeline4 .year {
	display: inline-block;
	width: 120px;
	height: 120px; 
	border-radius: 50%;
	border: 10px solid #f9a260;
	font-size: 18px;
	font-weight: bold;
	color: #262663;
	text-align: center;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
	position: absolute;
	top: 25%;
	left: 0;
	display: inline-flex;
    align-items: center;
    justify-content: center;
}

.main-timeline4 .year:before {
	content: "";
	border-left: 20px solid #f9a260;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	bottom: -13px;
	right: 0;
	transform: rotate(45deg)
}

.main-timeline4 .inner-content {
	padding: 20px 0
}

.main-timeline4 .title {
	font-size: 26px;
	font-weight: 400;
	/* color: #f9a260; */ 
	color: #262663; 
	margin: 0 0 5px
}

.main-timeline4 .description {
	font-size: 14px;
	color: #6f6f6f;
	margin: 0 0 5px
}

.main-timeline4 .timeline:nth-child(2n + 1) {
	padding: 0 100px 0 0
}

.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content:before,
.main-timeline4 .timeline:nth-child(2n + 1) .year,
.main-timeline4 .timeline:nth-child(2n + 1):before {
	left: auto;
	right: -10px
}

.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content {
	padding: 0 150px 0 0
}

.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content:before {
	right: -92px
}

.main-timeline4 .timeline:nth-child(2n + 1) .year {
	right: 0
}

.main-timeline4 .timeline:nth-child(2n + 1) .year:before {
	right: auto;
	left: 0;
	border-left: none;
	border-right: 20px solid #262663 !important;
	transform: rotate(-45deg)
}

.main-timeline4 .timeline:nth-child(1) {
	margin-top: 110px
}

.main-timeline4 .timeline:nth-child(even) {
	margin:110px 0 0
}

.main-timeline4 .timeline:nth-child(odd) {
	margin-bottom: 0px
}

.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(odd) {
	margin: 0
}

.main-timeline4 .timeline:nth-child(2n + 1) .year {
	border-color: #262663;
	color: #f9a260
}


@media only screen and (max-width:1200px) {
	.main-timeline4 .year {
		top: 50%;
		transform: translateY(-50%)
	}
}

@media only screen and (max-width:990px) {
	.main-timeline4 .timeline {
		padding-left: 75px
	}
	.main-timeline4 .timeline:nth-child(2n + 1) {
		padding: 0 75px 0 0
	}
	.main-timeline4 .timeline-content {
		padding-left: 130px
	}
	.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content {
		padding: 0 130px 0 0
	}
	.main-timeline4 .timeline-content:before {
		width: 68px;
		left: -68px
	}
	.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content:before {
		right: -68px
	}
}

.main-timeline4 .timeline:nth-child(2n + 1) .title,
.main-timeline4 .timeline:nth-child(2n + 1) .small	{ 
	text-align: right !important;
}
@media only screen and (max-width:767px) {
	.main-timeline4 {
		overflow: visible
	}
	.main-timeline4:before {
		height: 100%;
		top: 0;
		left: 0;
		transform: translateX(0);
	}
	.main-timeline4 .timeline:before,
	.main-timeline4 .timeline:nth-child(2n + 1):before {
		top: 60px;
		left: -9px;
		transform: translateX(0)
	}
	.main-timeline4 .timeline,
	.main-timeline4 .timeline:nth-child(odd),
	.main-timeline4 .timeline:nth-child(even) {
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
		margin: 0 0 10px;
		text-align: left;
    padding-left: 1.5rem;
	}
	.main-timeline4 .timeline-content,
	.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content {
		padding: 0;
	}
	.main-timeline4 .timeline-content:before,
	.main-timeline4 .timeline:nth-child(2n + 1) .timeline-content:before {
		display: none;
	}
	.main-timeline4 .timeline:nth-child(2n + 1) .year,
	.main-timeline4 .year {
		position: relative;
		transform: translateY(0)
	}
	.main-timeline4 .timeline:nth-child(2n + 1) .year:before,
	.main-timeline4 .year:before {
		border: none;
		border-right: 20px solid #f9a260;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		top: 50%;
		left: -23px;
		bottom: auto;
		right: auto;
		transform: rotate(0);
	} 
	.main-timeline4 .timeline:nth-child(2n + 1) .title,
	.main-timeline4 .timeline:nth-child(2n + 1) .small	{ 
		text-align: left !important;
	}
	.main-timeline4 .inner-content {
		padding: 10px
	}
}
.main-timeline4 .timeline:nth-child(2n + 1) .title {
    color: #262663;
}
 
.main-timeline4 .inner-content .time-list .col:first-child {
    max-width: 101px;
    padding-right: 0;
	font-size:12px;
}
.border-dashed { 
	border-bottom: 1px dotted #a7a7a7;
}
/* .start-label {
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1;
}  */
.start-label .badge, .end-label .badge {
    border-radius: 20px;
    background-color: #242462;
    border: 3px solid #f9a15f;
    font-weight: 500;
}

.badge-primary {
    color: #fff;
    background-color: #232360;
}
.day-0 {
	position:relative;
    width: 100px;
    height: 100px;
    border-radius: 100px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 7px !important;
}
.day-0:after {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid #f9a15f !important;
    transform: rotate(-45deg);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    content: "";
	
}
.border-w-5{
	border-width: 5px !important;
}
.photo-section {
    position: relative;
} 



/*Header slider*/
.header-slider .item {
  height: 100vh;
  position: relative;
}
.header-slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.header-slider .item .cover .header-slider-content {
  position: absolute;
  padding: 56px;
  overflow: hidden;
	max-width: 100%;
	text-align: center;
	bottom:0;left:0;right:0;

}
.header-slider .item .cover .header-slider-content .line {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.header-slider .item .cover .header-slider-content h2 {
  font-weight: 300;
  font-size: 45px;
  color: #fff;
}

.header-slider .item .cover .header-slider-content h3 {
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}

.header-slider .item .cover .header-slider-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
.header-slider .item .cover .header-slider-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.header-slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.header-slider .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.header-slider .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.header-slider .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
.header-slider .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.header-slider .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
.header-slider .owl-nav .owl-prev:focus {
  outline: 0;
}
.header-slider .owl-nav .owl-prev:hover {
  background: #000 !important;
}
.header-slider .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.header-slider .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
.header-slider .owl-nav .owl-next:focus {
  outline: 0;
}
.header-slider .owl-nav .owl-next:hover {
  background: #000 !important;
}
.header-slider:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
.header-slider:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.section-bg-4{ 
    background: rgb(255, 255, 255) url(../img/bg.png); 
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=80);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 9999;
  display: none;
  }
  .cnt223 a{
  text-decoration: none;
  }
  .popup{
    width: 90%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .popup-body{
  max-width: 100%;
  width: 600px;
  min-height: 150px;
  margin: 0px auto;
  background: #ffffff;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  max-height: 90vh;
    overflow-y: auto;
  } 
  a.btn.x {
    float: right;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.sm-btn-group{
    margin-top: 75px;
    text-align: center;
    background: #f9a15f;
    padding: 15px;
}

@media all and (max-width:1200px){
	#header .logo{max-width: 130px;}
	.header-slider .item .cover .header-slider-content h2 {font-size:30px}
	.header-slider .item .cover .header-slider-content h3 {font-size:30px}
}
.cust-accordion .card-header .btn {
  color: #242462;
  font-size: 18px;
}

.cust-accordion .card-header{
  background:#fff;
  padding: 5px 10px;
}

.cust-accordion .card {
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.cust-accordion .collapse, .cust-accordion .collapse p {
  font-size: 16px;
  color: #6e6e6e;
}
#countdown {
    font-size: 25px;
    color: #fff;  
    text-align: center;
    text-transform: uppercase;
	display:flex;
	margin:10px 0px;
}
.time-block {
   	line-height: 23px;
    padding: 18px 8px;
    background: rgba(231,208,208, 0.1);
    border: 1px solid #fff;
    margin-right: 5px;
    text-align: center;
	min-width: 70px
    /* display: inline-block; */
}

.time-block span {
    display: inline-block;
    width: 100%;
}
.time-type{
	font-size:16px;
}
.owl-carousel .owl-stage { 
  min-width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled{
  pointer-events: none;
  opacity: 0.7;
}
.testimonials .testimonial-item img {
    display: none;
}



.logo-scroll {
	background-image: url(https://jagritiyatra.com/g20/wp-content/uploads/2023/06/Track.png);background-position: 0px 1vh;
    background-repeat: repeat-x;
    background-size: 500px auto;
	opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.clients .first-block {
	max-width: 1000px; 
	margin:0 auto;
}

.clients .first-block .block-1 {
	width:61%; 
	float:left;
}

.clients .first-block .block-1 h2 {
	text-align:left;
	padding-top:15px
}

.clients .first-block .block-2 {
	text-align: center;
	width:39%;
	float: left
}

.clients .first-block .block-2 img {
	border:1px solid #ccc;
	border-radius:10px;
}

.clients .second-block {
	max-width: 1000px; 
	margin:50px auto 0 auto;
}

.clients .second-block .block-1 {
	background: #F7760A; 
	border-radius:10px; 
	width:70%; 
	float:left;
	padding:50px 20px 50px 20px;
}

.clients .second-block .block-1 .icon-left{
	font-size:50px;
	margin-top:-90px;
	color: #292764;
}

.clients .second-block .block-1 .icon-right{
	text-align: right;
	font-size:50px;
	margin-bottom:-90px;
	color: #292764;
}

.clients .second-block .block-1 .quote{
	color:#ffffff;
	padding:20px 0;
}

.clients .second-block .block-2 {
	text-align: center;
}

.clients .second-block .block-2 img {
	/*max-width:200px;*/
	max-width:140px;
}

.clients .second-block .block-2 .designation {
	font-size: 14px; 
	line-height:16px; 
	margin-top:-15px;
}

@media only screen and (max-width:1200px) {
	
	.clients .first-block {
		max-width:100%;
	}
	
	.clients .first-block .block-1 {
		width:100%; 
		float:none;
	}
	
	.clients .first-block .block-2 {
		text-align: center;
		width: 100%;
		float: none;
	}
	
	.clients .second-block {
		max-width: 100%;
	}
	
	.clients .second-block .block-1 {
		width: 100%;
		float: none;
		margin-bottom:20px;
	}

}
